{% extends "base.html" %}

{% block content %}
  <h1> Car: {{ car.model }}</h1>
  <p> Manufacturer: {{ car.manufacturer.name }} ({{ car.manufacturer.country }})</p>
  
  <div class="ml-3">
    <h3>Drivers:</h3>
    {% for driver in car.drivers.all %}
      <hr>
      <p class="text-muted">#{{ driver.id }}. {{ driver.username }}</p>
      <p>{{ driver.first_name }} {{ driver.last_name }} (Number of license: {{ driver.license_number }})</p>
      {% empty %}
      <p>No drivers! </p>
    {% endfor %}
  </div>
  
  
{% endblock %}
