{% extends "base.html" %}

{% block content %}
  <h1> Driver: {{ driver.username }}</h1>
  <p> 
    {{  driver.first_name }} 
    {{ driver.last_name }} 
    (Number of license: {{ driver.license_number }})
  </p>
  
  <div class="ml-3">
    <h3>Cars:</h3>
    {% for car in driver.cars.all %}
      <hr>
      <p class="text-muted">
        {{ car.model }} {{ car.manufacturer.name }} ({{ car.manufacturer.country }})
      </p>
      
      {% empty %}
      <p>No cars! </p>
    {% endfor %}
  </div>
  
{% endblock %}
